/* src/styles/Hero.css */
.hero {
  background: url("../assets/fond.jpg") center center/cover no-repeat;
  min-height: 100vh; /* occupe tout l'écran */
  position: relative;
}

/* Overlay sombre pour lisibilité du texte */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* ajuste l’opacité */
}

.hero .container {
  position: relative;
  z-index: 2; /* pour que le texte soit au-dessus de l’overlay */
}

.hero h1 {
  font-size: 2.8rem;
  line-height: 1.3;
}

.hero p {
  font-size: 1.2rem;
}
