/* src/styles/NavBar.css */

/* Couleur personnalisée du nom de la boutique */
.brand-name {
  font-weight: bold;
  font-size: 1.3rem;
  color: black; /* 🔥 tu peux changer la couleur ici */
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: black; /* la même couleur que le nom boutique */
}
/* Pastille du panier */
.navbar-nav .nav-item.position-relative .badge {
  font-size: 0.7rem;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 0;
  right: -8px;
  transform: translate(50%, -50%);
  border: 2px solid white;
}
/* Pastille du panier */
.navbar-nav .nav-item.position-relative .badge {
  font-size: 0.7rem;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 0;
  right: -8px;
  transform: translate(50%, -50%);
  border: 2px solid white;
}
